<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

</head>
<body>
<div th:if="${#authentication.getName() != 'anonymousUser'}">
    <div th:switch="${!doctors.isEmpty()}">
        <h2 th:case="false">We couldn't find doctor with given surname :(</h2>
        <div th:case="true">
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Speciality</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="doctor : ${doctors}">
                    <td th:text="${doctor.id}"></td>
                    <td th:text="${doctor.firstName}"></td>
                    <td th:text="${doctor.lastName}"></td>
                    <td th:text="${doctor.speciality}"></td>
                    <td> <a th:href="@{'/admin/doctor/timetable/edit/' + ${doctor.id}}">Edit schedule</a></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<div th:unless="${#authentication.getName() != 'anonymousUser'}">
    <a href="/">Home</a>
</div>

</body>
</html>