<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

</head>
<body>
<div th:if="${#authentication.getName() != 'anonymousUser'}">
    <form  th:action="@{'/admin/doctor/timetable/editAt/' + ${DoctorID}+'/'+${at.id}}" th:object="${appointmentTime}" th:method="put">
        <p>ID: <input type="text"  /></p>
        <p>doctorId: <input type="text" th:field="*{doctorId}" /></p>
        <p>from: <input type="text" th:field="*{from}" /></p>
        <p>to: <input type="text" th:field="*{to}" /></p>
        <p>dayOfWeek: <input type="text" th:field="*{dayOfWeek}" /></p>
        <p><input type="submit" value="Submit" /></p>
    </form>
</div>
<div th:unless="${#authentication.getName() != 'anonymousUser'}">
    <a href="/">Home</a>
</div>

</body>
</html>