<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

</head>
<body>
    <!-- IF people IS not ANONYMOUS -->
    <div th:if="${#authentication.getName() != 'anonymousUser'}">
        <div>Welcome, <span th:text="${#authentication.getName()}"></span></div>
        <div>
            <a href="/logout" >Log Out</a>
        </div>
        <div sec:authorize="hasRole('ADMIN')">
            <a href="/admin">To Admin Panel</a>
        </div>
        <div sec:authorize="hasRole('USER')">
            <a href="/account">To Account</a>
        </div>
    </div>
    <!-- ELSE -->
    <div th:unless="${#authentication.getName() != 'anonymousUser'}">
        <a href="/login">Log In</a>
    </div>
    <div th:unless="${#authentication.getName() != 'anonymousUser'}">
        <a href="/register">Register</a>
    </div>
<!--<h3>Enter doctor's name, surname and patronymic (if exists)</h3>-->
<!--<form action="#" th:action="@{/search}" th:object="${doctor}" method="get">-->
<!--    <label for="firstName">First name</label>-->
<!--    <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">-->
<!--    <br/>-->
<!--    <label for="lastName">Last name</label>-->
<!--    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">-->
<!--    <br/>-->
<!--    <label for="patronymic">Patronymic</label>-->
<!--    <input type="text" th:field="*{patronymic}" id="patronymic" placeholder="Patronymic">-->
<!--    <br/>-->
<!--    <input type="submit" value="Check schedule">-->
<!--</form>-->
</body>
</html>